.e-container {
    max-width: 500px;
}
#go-button {
    width: 50%;
}

.rounded-button {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: linear-gradient(200deg,#45cafc, #303f9f) !important;
    border: 0 !important;
}

.e-btn.circle {
    background-color: white;
}

.e-btn.circle > i {
    background: -webkit-linear-gradient(#45cafc, #303f9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

input#e-menu:checked ~ div.e-menu {
    background-color: transparent !important;
}

.main-container {
    background-image: linear-gradient(40deg,rgba(69, 202, 252, 0.85),rgba(48, 63, 159, 0.85)), url(../img/bg.jpg);
    color: white;
}